.l-body {
  display: flex;
  padding: 20px 0;
  background-color: #ffd;
}

.l-main {
  flex-grow: 1;
  padding: 20px 0;
  background-color: #dfd;
}

.l-content {
  min-width: $min_width_pc;
  max-width: $max_width_pc;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  background-color: $color_bg_content;

  @include mq_down(sp) {
    min-width: auto;
  }
}
